# Exploratory Data Analysis in Python using pandas

In this Jupyter notebook, I will perform Exploratory Data Analysis on web scraped data of New York City Leading Causes of Death in Python using Pandas for Data Science.

In [19]:
import pandas as pd
import numpy as np

In [27]:
# Retrieve CSV data from data.gov
url = "https://data.cityofnewyork.us/api/views/jb7j-dtam/rows.csv?accessType=DOWNLOAD"
raw = pd.read_csv(url)

# Data cleaning

## Data dimension

In [29]:
raw.shape

(1272, 7)

## Dataframe contents and types

In [30]:
raw.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2019,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",Male,Hispanic,1603,136.8029917,176.783287
1,2019,Malignant Neoplasms (Cancer: C00-C97),Male,Hispanic,1164,99.3379179,121.5817693
2,2019,Mental and Behavioral Disorders due to Acciden...,Male,Hispanic,423,36.09960418,35.70789583
3,2019,Diabetes Mellitus (E10-E14),Male,Hispanic,245,20.9087542,25.40934387
4,2019,Influenza (Flu) and Pneumonia (J09-J18),Male,Hispanic,182,15.5322174,19.85821025

In [31]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272 entries, 0 to 1271
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     1272 non-null   int64
 1   Leading Cause            1272 non-null   object
 2   Sex                      1272 non-null   object
 3   Race Ethnicity           1272 non-null   object
 4   Deaths                   1272 non-null   object
 5   Death Rate               1205 non-null   object
 6   Age Adjusted Death Rate  1205 non-null   object
dtypes: int64(1), object(6)
memory usage: 69.7+ KB

## Converting data to appropriate types

## Check for missing values

In [35]:
raw.isnull().sum()

Year                       0
Leading Cause              0
Sex                        0
Race Ethnicity             0
Deaths                     0
Death Rate                 0
Age Adjusted Death Rate    0
dtype: int64

## Replace missing values with 0

In [36]:
raw = raw.fillna(0)

In [34]:
raw.isnull().sum()

Year                       0
Leading Cause              0
Sex                        0
Race Ethnicity             0
Deaths                     0
Death Rate                 0
Age Adjusted Death Rate    0
dtype: int64

## Write to CSV file

In [39]:
raw.to_csv('NYC_leading_causes_of_death.csv', index=False)

In [40]:
! ls

EDA_nyc_leading_causes_of_deaths.ipynb
NYC_leading_causes_of_death.csv
New_York_City_Leading_Causes_of_Death copy.csv
New_York_City_Leading_Causes_of_Death.csv
README.md
modified_nyc_deaths.csv
modified_nyc_deaths_final.csv
nyc-death-visualizer.py
nyc_data_processing.py
nyc_leading_causes_of_deaths_mingling.ipynb

# Exploratory Data Analysis

## Read data

In [58]:
df = pd.read_csv('NYC_leading_causes_of_death.csv')

## Overview of data types of each columns in the dataframe

In [59]:
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2019,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",Male,Hispanic,1603,136.8029917,176.783287
1,2019,Malignant Neoplasms (Cancer: C00-C97),Male,Hispanic,1164,99.3379179,121.5817693
2,2019,Mental and Behavioral Disorders due to Acciden...,Male,Hispanic,423,36.09960418,35.70789583
3,2019,Diabetes Mellitus (E10-E14),Male,Hispanic,245,20.9087542,25.40934387
4,2019,Influenza (Flu) and Pneumonia (J09-J18),Male,Hispanic,182,15.5322174,19.85821025

In [60]:
df.dtypes

Year                        int64
Leading Cause              object
Sex                        object
Race Ethnicity             object
Deaths                     object
Death Rate                 object
Age Adjusted Death Rate    object
dtype: object

## Converting data types to appropriate types

In [61]:
df['Leading Cause'].value_counts()

Diseases of Heart (I00-I09, I11, I13, I20-I51)                                                                                       110
Influenza (Flu) and Pneumonia (J09-J18)                                                                                              110
All Other Causes                                                                                                                     110
Malignant Neoplasms (Cancer: C00-C97)                                                                                                110
Diabetes Mellitus (E10-E14)                                                                                                          106
Cerebrovascular Disease (Stroke: I60-I69)                                                                                            103
Chronic Lower Respiratory Diseases (J40-J47)                                                                                         100
Essential Hypertension and Renal Diseases (I10, I12)                                                                                  88
Accidents Except Drug Posioning (V01-X39, X43, X45-X59, Y85-Y86)                                                                      80
Mental and Behavioral Disorders due to Accidental Poisoning and Other Psychoactive Substance Use (F11-F16, F18-F19, X40-X42, X44)     51
Human Immunodeficiency Virus Disease (HIV: B20-B24)                                                                                   44
Alzheimer's Disease (G30)                                                                                                             40
Intentional Self-Harm (Suicide: X60-X84, Y87.0)                                                                                       38
Chronic Liver Disease and Cirrhosis (K70, K73)                                                                                        29
Certain Conditions originating in the Perinatal Period (P00-P96)                                                                      28
Assault (Homicide: Y87.1, X85-Y09)                                                                                                    20
Nephritis, Nephrotic Syndrome and Nephrisis (N00-N07, N17-N19, N25-N27)                                                               19
Septicemia (A40-A41)                                                                                                                  16
Accidents Except Drug Poisoning (V01-X39, X43, X45-X59, Y85-Y86)                                                                      13
Congenital Malformations, Deformations, and Chromosomal Abnormalities (Q00-Q99)                                                       10
Intentional Self-Harm (Suicide: U03, X60-X84, Y87.0)                                                                                   7
Insitu or Benign / Uncertain Neoplasms (D00-D48)                                                                                       6
Viral Hepatitis (B15-B19)                                                                                                              6
Mental and Behavioral Disorders due to Use of Alcohol (F10)                                                                            6
Aortic Aneurysm and Dissection (I71)                                                                                                   4
Assault (Homicide: U01-U02, Y87.1, X85-Y09)                                                                                            3
Chronic Liver Disease and Cirrhosis (K70, K73-K74)                                                                                     3
Atherosclerosis (I70)                                                                                                                  3
Cholelithiasis and Disorders of Gallbladder (K80-K82)                                                                                  2
Complications of Medical and Surgical Care (Y40-Y84, Y88)                                                                              2
Parkinson's Disease (G20)                                                                                                              2
Anemias (D50-D64)                                                                                                                      1
Peptic Ulcer (K25-K28)                                                                                                                 1
Tuberculosis (A16-A19)                                                                                                                 1
Name: Leading Cause, dtype: int64

In [62]:
df['Leading Cause'] = df['Leading Cause'].astype("string")

In [64]:
df['Sex'].value_counts()

F         554
M         540
Female     90
Male       88
Name: Sex, dtype: int64

In [65]:
df['Sex'] = df['Sex'].astype("string")
df['Sex'] = df['Sex'].replace({'M':'Male', 'F':'Female'})

In [66]:
df['Sex'].value_counts()

Female    644
Male      628
Name: Sex, dtype: Int64

In [67]:
df['Race Ethnicity'].value_counts()

Other Race/ Ethnicity         253
Not Stated/Unknown            223
Hispanic                      199
Asian and Pacific Islander    199
Black Non-Hispanic            178
White Non-Hispanic            176
Non-Hispanic White             22
Non-Hispanic Black             22
Name: Race Ethnicity, dtype: int64

In [71]:
df['Race Ethnicity'] = df['Race Ethnicity'].astype("string")
df['Race Ethnicity'] = df['Race Ethnicity'].replace({'White Non-Hispanic':'Non-Hispanic White', 'Black Non-Hispanic':'Non-Hispanic Black'})

In [72]:
df['Race Ethnicity'].value_counts()

Other Race/ Ethnicity         253
Not Stated/Unknown            223
Non-Hispanic Black            200
Hispanic                      199
Asian and Pacific Islander    199
Non-Hispanic White            198
Name: Race Ethnicity, dtype: Int64

In [73]:
df['Deaths'].value_counts()

.       138
5        35
8        24
6        22
1        21
       ...
208       1
1149      1
451       1
225       1
1464      1
Name: Deaths, Length: 505, dtype: int64

In [75]:
# Since there is '.' in Deaths column, convert everything to string, replace '.' with '0', and covert the column to integer.
df['Deaths'] = df['Deaths'].astype("string")
df['Deaths'] = df['Deaths'].replace({'.':'0'})
df['Deaths'] = df['Deaths'].astype(int)

In [76]:
df['Deaths'].value_counts()

0       138
5        35
8        24
6        22
1        21
       ...
208       1
1149      1
451       1
225       1
1464      1
Name: Deaths, Length: 505, dtype: int64

In [84]:
df['Death Rate'].value_counts()

.        386
0         67
13         7
17.3       7
11.4       6
        ...
45.7       1
438.3      1
243.5      1
91.6       1
172.4      1
Name: Death Rate, Length: 547, dtype: int64

In [90]:
# Since there is '.' in Death Rate column, convert everything to string, replace '.' with '0', and covert the column to float.
df['Death Rate'] = df['Death Rate'].astype("string")
df['Death Rate'] = df['Death Rate'].replace({'.':'0'})
df['Death Rate'] = df['Death Rate'].astype(float)

In [91]:
df['Death Rate'].value_counts()

0.0      453
17.3       7
13.0       7
18.0       6
5.8        6
        ...
45.7       1
438.3      1
243.5      1
91.6       1
172.4      1
Name: Death Rate, Length: 546, dtype: int64

In [92]:
df['Age Adjusted Death Rate'].value_counts()

0.0      453
17.9       6
21.4       6
6.3        6
8.5        5
        ...
28.7       1
26.8       1
177.8      1
146.4      1
220.4      1
Name: Age Adjusted Death Rate, Length: 538, dtype: int64

In [88]:
# Since there is '.' in Age Adjusted Death Rate column, convert everything to string, replace '.' with '0', and covert the column to float.
df['Age Adjusted Death Rate'] = df['Age Adjusted Death Rate'].astype("string")
df['Age Adjusted Death Rate'] = df['Age Adjusted Death Rate'].replace({'.':'0'})
df['Age Adjusted Death Rate'] = df['Age Adjusted Death Rate'].astype(float)

In [89]:
df['Age Adjusted Death Rate'].value_counts()

0.0      453
17.9       6
21.4       6
6.3        6
8.5        5
        ...
28.7       1
26.8       1
177.8      1
146.4      1
220.4      1
Name: Age Adjusted Death Rate, Length: 538, dtype: int64

In [93]:
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2019,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",Male,Hispanic,1603,136.802992,176.783287
1,2019,Malignant Neoplasms (Cancer: C00-C97),Male,Hispanic,1164,99.337918,121.581769
2,2019,Mental and Behavioral Disorders due to Acciden...,Male,Hispanic,423,36.099604,35.707896
3,2019,Diabetes Mellitus (E10-E14),Male,Hispanic,245,20.908754,25.409344
4,2019,Influenza (Flu) and Pneumonia (J09-J18),Male,Hispanic,182,15.532217,19.858210

## Questions

### Conditional Selection
In performing exploratory data analysis, it is important to be able to select subsets of data to perform analysis or comparisons.

#### GroupBy() function

#### 1. What is the most common leading cause of deaths in NYC?
Diseases of Heart

In [170]:
LC = df.groupby("Leading Cause").sum()

/var/folders/df/gd51sgv15359w812mn99r76w0000gn/T/ipykernel_4272/291040739.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  LC = df.groupby("Leading Cause").sum()

In [171]:
LC[LC['Deaths'] == LC['Deaths'].max()]

,Year,Deaths,Death Rate,Age Adjusted Death Rate
Leading Cause,,,,
"Diseases of Heart (I00-I09, I11, I13, I20-I51)",221274,165372,14728.870675,14301.030896

In [164]:
df.groupby("Leading Cause").sum().sort_values(by="Deaths", ascending=False).head(1)

/var/folders/df/gd51sgv15359w812mn99r76w0000gn/T/ipykernel_4272/2977993887.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("Leading Cause").sum().sort_values(by="Deaths", ascending=False).head(1)

,Year,Deaths,Death Rate,Age Adjusted Death Rate
Leading Cause,,,,
"Diseases of Heart (I00-I09, I11, I13, I20-I51)",221274,165372,14728.870675,14301.030896

#### 2. What is the most common leading cause of deaths in NYC in 2019?

In [182]:
df[df["Year"] == 2019].groupby("Leading Cause").sum().sort_values(by="Deaths", ascending=False).head(1)

/var/folders/df/gd51sgv15359w812mn99r76w0000gn/T/ipykernel_4272/1586761423.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[df["Year"] == 2019].groupby("Leading Cause").sum().sort_values(by="Deaths", ascending=False).head(1)

,Year,Deaths,Death Rate,Age Adjusted Death Rate
Leading Cause,,,,
"Diseases of Heart (I00-I09, I11, I13, I20-I51)",28266,17821,1970.370675,1882.330896

#### 3. What is the leading cause of death for each gender in NYC?

#### 4. What is the leading cause of death for each race and ethnicity in NYC?

In [ ]:
df.groupby(["Leading Cause", "Race Ethnicity"]).sum()

/var/folders/df/gd51sgv15359w812mn99r76w0000gn/T/ipykernel_4272/3651007367.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(["Leading Cause", "Race Ethnicity"]).sum()

                                                                               Year  \
Leading Cause                                     Race Ethnicity
Accidents Except Drug Poisoning (V01-X39, X43,... Asian and Pacific Islander   4038
                                                  Hispanic                     4038
                                                  Non-Hispanic Black           2019
                                                  Non-Hispanic White           4038
                                                  Not Stated/Unknown           4038
...                                                                             ...
Septicemia (A40-A41)                              Other Race/ Ethnicity       10081
Tuberculosis (A16-A19)                            Not Stated/Unknown           2011
Viral Hepatitis (B15-B19)                         Asian and Pacific Islander   2013
                                                  Not Stated/Unknown           8039
                                                  Other Race/ Ethnicity        2019

                                                                              Deaths  \
Leading Cause                                     Race Ethnicity
Accidents Except Drug Poisoning (V01-X39, X43,... Asian and Pacific Islander      92
                                                  Hispanic                       272
                                                  Non-Hispanic Black             150
                                                  Non-Hispanic White             439
                                                  Not Stated/Unknown              24
...                                                                              ...
Septicemia (A40-A41)                              Other Race/ Ethnicity           10
Tuberculosis (A16-A19)                            Not Stated/Unknown               0
Viral Hepatitis (B15-B19)                         Asian and Pacific Islander      15
                                                  Not Stated/Unknown               6
                                                  Other Race/ Ethnicity            1

                                                                              Death Rate  \
Leading Cause                                     Race Ethnicity
Accidents Except Drug Poisoning (V01-X39, X43,... Asian and Pacific Islander   15.050191
                                                  Hispanic                     22.678009
                                                  Non-Hispanic Black           18.100115
                                                  Non-Hispanic White           32.930777
                                                  Not Stated/Unknown           28.398522
...                                                                                  ...
Septicemia (A40-A41)                              Other Race/ Ethnicity         0.000000
Tuberculosis (A16-A19)                            Not Stated/Unknown            0.000000
Viral Hepatitis (B15-B19)                         Asian and Pacific Islander    2.500000
                                                  Not Stated/Unknown            0.000000
                                                  Other Race/ Ethnicity         0.000000

                                                                              Age Adjusted Death Rate
Leading Cause                                     Race Ethnicity
Accidents Except Drug Poisoning (V01-X39, X43,... Asian and Pacific Islander                13.763041
                                                  Hispanic                                  23.430633
                                                  Non-Hispanic Black                        17.776877
                                                  Non-Hispanic White                        23.734746
                                                  Not Stated/Unknown                        41.369516
...                                                                                               ...
Septicemia (A40-A41)                              Other Race/ Ethnicity                      0.000000
Tuberculosis (A16-A19)                            Not Stated/Unknown                         0.000000
Viral Hepatitis (B15-B19)                         Asian and Pacific Islander                 2.500000
                                                  Not Stated/Unknown                         0.000000
                                                  Other Race/ Ethnicity                      0.000000

[131 rows x 4 columns]

In [178]:
for i in df["Race Ethnicity"].unique():
    print(i)

Hispanic
Asian and Pacific Islander
Non-Hispanic White
Non-Hispanic Black
Other Race/ Ethnicity
Not Stated/Unknown

In [163]:
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2019,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",Male,Hispanic,1603,136.802992,176.783287
1,2019,Malignant Neoplasms (Cancer: C00-C97),Male,Hispanic,1164,99.337918,121.581769
2,2019,Mental and Behavioral Disorders due to Acciden...,Male,Hispanic,423,36.099604,35.707896
3,2019,Diabetes Mellitus (E10-E14),Male,Hispanic,245,20.908754,25.409344
4,2019,Influenza (Flu) and Pneumonia (J09-J18),Male,Hispanic,182,15.532217,19.858210

#### Histograms
Try to answer this question by showing some histogram plots. So, to make it a bit easier, let's create a subset dataframe.