In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('New_York_City_Leading_Causes_of_Death.csv')

In [3]:
print(df)

      Year                                      Leading Cause   Sex  \
0     2019     Diseases of Heart (I00-I09, I11, I13, I20-I51)  Male
1     2019              Malignant Neoplasms (Cancer: C00-C97)  Male
2     2019  Mental and Behavioral Disorders due to Acciden...  Male
3     2019                        Diabetes Mellitus (E10-E14)  Male
4     2019            Influenza (Flu) and Pneumonia (J09-J18)  Male
...    ...                                                ...   ...
1267  2008            Influenza (Flu) and Pneumonia (J09-J18)     M
1268  2007     Diseases of Heart (I00-I09, I11, I13, I20-I51)     M
1269  2008              Malignant Neoplasms (Cancer: C00-C97)     M
1270  2014                        Diabetes Mellitus (E10-E14)     F
1271  2009  Accidents Except Drug Posioning (V01-X39, X43,...     M

                  Race Ethnicity Deaths   Death Rate Age Adjusted Death Rate
0                       Hispanic   1603  136.8029917              176.783287
1                       Hispanic   1164   99.3379179             121.5817693
2                       Hispanic    423  36.09960418             35.70789583
3                       Hispanic    245   20.9087542             25.40934387
4                       Hispanic    182   15.5322174             19.85821025
...                          ...    ...          ...                     ...
1267          Not Stated/Unknown     11            .                       .
1268          Not Stated/Unknown     86            .                       .
1269          Black Non-Hispanic   1464        172.4                   220.4
1270       Other Race/ Ethnicity     11            .                       .
1271  Asian and Pacific Islander     55         10.8                    12.3

[1272 rows x 7 columns]

In [4]:
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2019,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",Male,Hispanic,1603,136.8029917,176.783287
1,2019,Malignant Neoplasms (Cancer: C00-C97),Male,Hispanic,1164,99.3379179,121.5817693
2,2019,Mental and Behavioral Disorders due to Acciden...,Male,Hispanic,423,36.09960418,35.70789583
3,2019,Diabetes Mellitus (E10-E14),Male,Hispanic,245,20.9087542,25.40934387
4,2019,Influenza (Flu) and Pneumonia (J09-J18),Male,Hispanic,182,15.5322174,19.85821025

In [5]:
df['Leading Cause'].value_counts()

Diseases of Heart (I00-I09, I11, I13, I20-I51)                                                                                       110
Influenza (Flu) and Pneumonia (J09-J18)                                                                                              110
All Other Causes                                                                                                                     110
Malignant Neoplasms (Cancer: C00-C97)                                                                                                110
Diabetes Mellitus (E10-E14)                                                                                                          106
Cerebrovascular Disease (Stroke: I60-I69)                                                                                            103
Chronic Lower Respiratory Diseases (J40-J47)                                                                                         100
Essential Hypertension and Renal Diseases (I10, I12)                                                                                  88
Accidents Except Drug Posioning (V01-X39, X43, X45-X59, Y85-Y86)                                                                      80
Mental and Behavioral Disorders due to Accidental Poisoning and Other Psychoactive Substance Use (F11-F16, F18-F19, X40-X42, X44)     51
Human Immunodeficiency Virus Disease (HIV: B20-B24)                                                                                   44
Alzheimer's Disease (G30)                                                                                                             40
Intentional Self-Harm (Suicide: X60-X84, Y87.0)                                                                                       38
Chronic Liver Disease and Cirrhosis (K70, K73)                                                                                        29
Certain Conditions originating in the Perinatal Period (P00-P96)                                                                      28
Assault (Homicide: Y87.1, X85-Y09)                                                                                                    20
Nephritis, Nephrotic Syndrome and Nephrisis (N00-N07, N17-N19, N25-N27)                                                               19
Septicemia (A40-A41)                                                                                                                  16
Accidents Except Drug Poisoning (V01-X39, X43, X45-X59, Y85-Y86)                                                                      13
Congenital Malformations, Deformations, and Chromosomal Abnormalities (Q00-Q99)                                                       10
Intentional Self-Harm (Suicide: U03, X60-X84, Y87.0)                                                                                   7
Insitu or Benign / Uncertain Neoplasms (D00-D48)                                                                                       6
Viral Hepatitis (B15-B19)                                                                                                              6
Mental and Behavioral Disorders due to Use of Alcohol (F10)                                                                            6
Aortic Aneurysm and Dissection (I71)                                                                                                   4
Assault (Homicide: U01-U02, Y87.1, X85-Y09)                                                                                            3
Chronic Liver Disease and Cirrhosis (K70, K73-K74)                                                                                     3
Atherosclerosis (I70)                                                                                                                  3
Cholelithiasis and Disorders of Gallbladder (K80-K82)                                                                                  2
Complications of Medical and Surgical Care (Y40-Y84, Y88)                                                                              2
Parkinson's Disease (G20)                                                                                                              2
Anemias (D50-D64)                                                                                                                      1
Peptic Ulcer (K25-K28)                                                                                                                 1
Tuberculosis (A16-A19)                                                                                                                 1
Name: Leading Cause, dtype: int64

In [6]:
df['Sex'].value_counts()

F         554
M         540
Female     90
Male       88
Name: Sex, dtype: int64

In [7]:
df['Sex'] = df['Sex'].replace({'M':'Male', 'F':'Female'})

In [8]:
df['Sex'].value_counts()

Female    644
Male      628
Name: Sex, dtype: int64

In [9]:
df['Sex']

0         Male
1         Male
2         Male
3         Male
4         Male
         ...
1267      Male
1268      Male
1269      Male
1270    Female
1271      Male
Name: Sex, Length: 1272, dtype: object

In [10]:
df['Race Ethnicity'].value_counts()

Other Race/ Ethnicity         253
Not Stated/Unknown            223
Hispanic                      199
Asian and Pacific Islander    199
Black Non-Hispanic            178
White Non-Hispanic            176
Non-Hispanic White             22
Non-Hispanic Black             22
Name: Race Ethnicity, dtype: int64

In [11]:
df['Race Ethnicity'] = df['Race Ethnicity'].replace({'Non-Hispanic White':'White Non-Hispanic', 'Non-Hispanic Black':'Black Non-Hispanic'})

In [12]:
df['Race Ethnicity'].value_counts()

Other Race/ Ethnicity         253
Not Stated/Unknown            223
Black Non-Hispanic            200
Hispanic                      199
Asian and Pacific Islander    199
White Non-Hispanic            198
Name: Race Ethnicity, dtype: int64

In [13]:
df['Year'].value_counts()

2019    178
2007    141
2011    141
2010    138
2014    136
2008    136
2009    135
2012    134
2013    133
Name: Year, dtype: int64

In [14]:
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2019,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",Male,Hispanic,1603,136.8029917,176.783287
1,2019,Malignant Neoplasms (Cancer: C00-C97),Male,Hispanic,1164,99.3379179,121.5817693
2,2019,Mental and Behavioral Disorders due to Acciden...,Male,Hispanic,423,36.09960418,35.70789583
3,2019,Diabetes Mellitus (E10-E14),Male,Hispanic,245,20.9087542,25.40934387
4,2019,Influenza (Flu) and Pneumonia (J09-J18),Male,Hispanic,182,15.5322174,19.85821025

In [15]:
df = df.drop(labels=['Death Rate', 'Age Adjusted Death Rate'], axis = 1)

In [16]:
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths
0,2019,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",Male,Hispanic,1603
1,2019,Malignant Neoplasms (Cancer: C00-C97),Male,Hispanic,1164
2,2019,Mental and Behavioral Disorders due to Acciden...,Male,Hispanic,423
3,2019,Diabetes Mellitus (E10-E14),Male,Hispanic,245
4,2019,Influenza (Flu) and Pneumonia (J09-J18),Male,Hispanic,182

In [17]:
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths
0,2019,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",Male,Hispanic,1603
1,2019,Malignant Neoplasms (Cancer: C00-C97),Male,Hispanic,1164
2,2019,Mental and Behavioral Disorders due to Acciden...,Male,Hispanic,423
3,2019,Diabetes Mellitus (E10-E14),Male,Hispanic,245
4,2019,Influenza (Flu) and Pneumonia (J09-J18),Male,Hispanic,182

In [18]:
df.to_csv('modified_nyc_deaths.csv')

In [19]:
df['Deaths'].value_counts()

.       138
5        35
8        24
6        22
1        21
       ...
208       1
1149      1
451       1
225       1
1464      1
Name: Deaths, Length: 505, dtype: int64

In [29]:
df['Deaths']

0       1603
1       1164
2        423
3        245
4        182
        ...
1267      11
1268      86
1269    1464
1270      11
1271      55
Name: Deaths, Length: 1272, dtype: object

In [30]:
df['Deaths'] = df['Deaths'].astype("string")

In [31]:
df['Deaths']

0       1603
1       1164
2        423
3        245
4        182
        ...
1267      11
1268      86
1269    1464
1270      11
1271      55
Name: Deaths, Length: 1272, dtype: string

In [32]:
df['Deaths'] = df['Deaths'].replace({'.':'0'})

In [35]:
df['Deaths'].head()

0    1603
1    1164
2     423
3     245
4     182
Name: Deaths, dtype: string

In [36]:
df['Deaths'] = df['Deaths'].astype(int)

In [37]:
df['Deaths'].head()

0    1603
1    1164
2     423
3     245
4     182
Name: Deaths, dtype: int64

In [38]:
df['Deaths'].value_counts()

0       138
5        35
8        24
6        22
1        21
       ...
208       1
1149      1
451       1
225       1
1464      1
Name: Deaths, Length: 505, dtype: int64

In [20]:
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths
0,2019,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",Male,Hispanic,1603
1,2019,Malignant Neoplasms (Cancer: C00-C97),Male,Hispanic,1164
2,2019,Mental and Behavioral Disorders due to Acciden...,Male,Hispanic,423
3,2019,Diabetes Mellitus (E10-E14),Male,Hispanic,245
4,2019,Influenza (Flu) and Pneumonia (J09-J18),Male,Hispanic,182

In [40]:
df['Year'].value_counts()

2019    178
2007    141
2011    141
2010    138
2014    136
2008    136
2009    135
2012    134
2013    133
Name: Year, dtype: int64

In [41]:
df.to_csv('modified_nyc_deaths.csv', index=False)

In [44]:
len(df['Leading Cause'].unique())

34

In [46]:
len(df['Race Ethnicity'].unique())

6

### Combine race with sex

In [49]:
df['Race Ethnicity'].value_counts()

Other Race/ Ethnicity         253
Not Stated/Unknown            223
Black Non-Hispanic            200
Hispanic                      199
Asian and Pacific Islander    199
White Non-Hispanic            198
Name: Race Ethnicity, dtype: int64

In [50]:
df['Race Ethnicity'].head()

0    Hispanic
1    Hispanic
2    Hispanic
3    Hispanic
4    Hispanic
Name: Race Ethnicity, dtype: object

In [53]:
df['Race Ethnicity'] = df['Race Ethnicity'].astype('string')

In [54]:
df['Race Ethnicity'].head()

0    Hispanic
1    Hispanic
2    Hispanic
3    Hispanic
4    Hispanic
Name: Race Ethnicity, dtype: string

In [55]:
df['Race Ethnicity'].value_counts()

Other Race/ Ethnicity         253
Not Stated/Unknown            223
Black Non-Hispanic            200
Hispanic                      199
Asian and Pacific Islander    199
White Non-Hispanic            198
Name: Race Ethnicity, dtype: Int64

In [56]:
df['Race Ethnicity'] = df['Race Ethnicity'].replace({'Other Race/ Ethnicity':'Other Race/Ethnicity'})

In [57]:
df['Race Ethnicity'].value_counts()

Other Race/Ethnicity          253
Not Stated/Unknown            223
Black Non-Hispanic            200
Hispanic                      199
Asian and Pacific Islander    199
White Non-Hispanic            198
Name: Race Ethnicity, dtype: Int64

In [68]:
df['Sex'] = df['Sex'].replace({'Male':'M', 'Female':'F'})

In [69]:
df["Race Ethnicity Sex"] = df["Race Ethnicity"] + "_" + df["Sex"]

In [70]:
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Race Ethnicity Sex
0,2019,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Hispanic,1603,Hispanic_M
1,2019,Malignant Neoplasms (Cancer: C00-C97),M,Hispanic,1164,Hispanic_M
2,2019,Mental and Behavioral Disorders due to Acciden...,M,Hispanic,423,Hispanic_M
3,2019,Diabetes Mellitus (E10-E14),M,Hispanic,245,Hispanic_M
4,2019,Influenza (Flu) and Pneumonia (J09-J18),M,Hispanic,182,Hispanic_M

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272 entries, 0 to 1271
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                1272 non-null   int64
 1   Leading Cause       1272 non-null   object
 2   Sex                 1272 non-null   object
 3   Race Ethnicity      1272 non-null   string
 4   Deaths              1272 non-null   int64
 5   Race Ethnicity Sex  1272 non-null   string
dtypes: int64(2), object(2), string(2)
memory usage: 59.8+ KB

In [72]:
df = df.drop(columns = ['Sex', 'Race Ethnicity'])

In [73]:
df.head()

,Year,Leading Cause,Deaths,Race Ethnicity Sex
0,2019,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",1603,Hispanic_M
1,2019,Malignant Neoplasms (Cancer: C00-C97),1164,Hispanic_M
2,2019,Mental and Behavioral Disorders due to Acciden...,423,Hispanic_M
3,2019,Diabetes Mellitus (E10-E14),245,Hispanic_M
4,2019,Influenza (Flu) and Pneumonia (J09-J18),182,Hispanic_M

In [74]:
df.to_csv('modified_nyc_deaths_final.csv')